@using BierBuyFR.Entitie
@model List<Type_Produit>
    @{
    ViewBag.Title = "CategoryTable";
    }

    <div>
        <form method="post">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Recherche</label>
                        <input class="form-control" id="searchTxt" name="Search" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-6">
                        <button class="form-control" type="button" id="searchBtn">Rechercher</button>
                    </div>
                    <div class="col-md-6">
                        <button class="form-control" type="button" id="addBtn"> Nouveau </button>
                    </div>


                </div>
            </div>


        </form>

    </div>


    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="font-weight-bold">Nom de la catégorie</th>
                    <th class="font-weight-bold">Description</th>
                    <th class="font-weight-bold">Nombre de produits</th>
                    <th class="font-weight-bold wrap-td">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type_Produit in Model)
                {
                <tr>
                    <td>@type_Produit.Type</td>
                    <td>

                        @if (type_Produit.Type != null)
                        {
                        <text> @type_Produit.Type</text>
                        }
                        else
                        {
                        <text>-</text>
                        }
                    </td>
                    <td>@type_Produit.Description</td>
                    <td>
                        @type_Produit.Produits.Count
                    </td>
                    <td>
                        <button class="editBtn" data-id="@type_Produit.Type_ProduitID">Modifier</button>
                        <button class="deleteBtn" data-id="@type_Produit.Type_ProduitID">Supprimer</button>
                    </td>
                </tr>

                }
            </tbody>
        </table>


    </div>

    <script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Type_Produit/CategoryTable',
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });
    });
    $("#addBtn").click(function () {
        $.ajax({
            url: '/Type_Produit/Create',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });

    });
    $(".editBtn").click(function () {
        $.ajax({
            url: '/Type_Produit/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });
    });
    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Etes-vous sur de vouloir supprimer cette catégorie?");
        if (confirmDelete) {
            $.ajax({
                type: 'POST',
                url: '/Type_Produit/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        }
    });
    </script>
