@using BierBuyFR.Web.ViewModel

@model EditProduitViewModel
@{
    ViewBag.Title = "Edit";
}


<h2>Modifier les produits</h2>

<form id="editProduit">
    <input type="hidden" name="ID" value="@Model.ID" />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Categorie</label>
                <select class="form-control" name="Type_ProduitID">
                    @foreach (var category in Model.type_produit)
                    {
                        var selected = category.Type_ProduitID == Model.Type_ProduitID ? "selected" : string.Empty;
                        <option value="@category.Type_ProduitID" @selected>@category.Type</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Nom</label>
                <input class="form-control" name="Nom" value="@Model.Nom" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" value="@Model.Description" />
            </div>
            <div class="form-group">
                <label>Prix</label>
                <input class="form-control" name="Prix" value="@Model.Prix" />
            </div>
        </div>
    </div>

    <button id="updateBtn" type="button" class="btn btn-primary">Update</button>
    <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
</form>

<script>
    $("#updateBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Produit/Edit',
            data: $("#editProduit").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("ECHEC");
            });
    });
</script>
